*, 
*::before, 
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	display: inline-block;
	text-decoration: none;
}
ul, 
li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
body {
	font-family: "PT Serif", "Times New Roman", serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #5e5e5e;
	background-color: #fff;
}

/*  Хедер  */
.header {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 36px;
}
.header__top {
	background-color: #303030;
}
.header__top .container {
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.header__phone,
.header__email {
	position: relative;
	margin-right: 30px;
	font-size: 14px;
	letter-spacing: 0.3px;
	color: #cbcacb;
}
.header__phone::before,
.header__email::before {
	font-family: "icomoon";
	position: absolute;
	left: 0;
	top: 0;
	color: #ffc222;
}
.header__phone {
	padding-left: 20px;
}
.header__phone::before {
	content: "\f095";
}
.header__email {
	padding-left: 24px;
}
.header__email::before {
	content: "\f003";
}
.header__btn {
	position: relative;
	margin-left: auto;
	padding: 5px 20px 5px 50px;
	color: #1b1b1b;
	background-color: #ffc222;
}
.header__btn::before {
	content: "\f0b1";
	font-family: "icomoon";
	position: absolute;
	left: 20px;
	color: #1b1b1b;
}
.header__content {
	padding: 34px 0 23px;
}
.header__content .container {
	display: flex;
	justify-content: space-between;
}
.header__menu ul {
	display: flex;
	justify-content: space-between;
}
.header__menu li + li {
	margin-left: 15px;
}
.header__menu a {
	padding: 0 15px;
	color: #323232;
	border: 1px solid transparent;
	transition: border 0.2s linear;
}
.header__menu a:hover, 
.header__menu a:focus, 
.header__menu a:active {
	border-color: #ffc222;
}

/*  Общие стили для ссылок-кнопок со стрелками  */
.default-btn {
	position: relative;
	padding: 5px 20px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.025em;
	border: 1px solid #ffc222;
	border-right-width: 20px;
	transition: all 0.2s linear;
	outline: none;
}
.default-btn::after {
	content: "\f105";
	font-family: "icomoon";
	position: absolute;
	top: 50%;
	right: -12px;
	transform: translateY(-50%);
}
.default-btn:hover,
.default-btn:focus {
	transform: scale(1.05);
}

/*  Слайдер  */
.slider {
	background: #3d3d3d url("../img/slide1-bg.jpg") no-repeat center / cover;
}
.slider__inner {
	position: relative;
}
.slider__content {
	max-width: 700px;
	margin: 0 auto;
	padding: 120px 0 180px;
	text-align: center;
}
.slider__title {
	margin: 0;
	margin-bottom: 25px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 500;
	font-size: 30px;
	line-height: 1.2;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #fff;
}
.slider__text {
	margin: 0;
	margin-bottom: 45px;
	font-size: 18px;
	line-height: 24px;
	color: #d3d2d2;
}
.slider__btn {
	color: #fff;
}
.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 5;
	display: block;
	width: 40px;
	height: 40px;
	font-family: "icomoon";
	color: #fff;
	background-color: #ffc222;
	border: 1px solid #fff;
	outline: none;
	box-shadow: none;
	cursor: pointer;
}
.slick-disabled {
	background-color: transparent;
	cursor: auto;
}
.slick-prev {
	left: 0;
}
.slick-prev::before {
	content: "\f104";
}
.slick-next {
	right: 0;
}
.slick-next::before {
	content: "\f105";
}

/*  Общие стили для секций  */
.section__top {
	margin-bottom: 60px;
	display: flex;
	justify-content: space-between;
	-ms-align-items: flex-start;
	align-items: flex-start;
}
.section__header {
	position: relative;
	max-width: 520px;
	padding-left: 140px;
}
.section__header::before {
	content: "";
	position: absolute;
	top: 11px;
	left: 0;
	width: 105px;
	height: 2px;
	background-color: #ffc222;
}
.section__title {
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 1;
	color: #212020;
}
.section__subtitle {
	letter-spacing: 0.01em;
}
.section__top-btn {
	padding: 5px 38px;
	font-family: "Roboto", "Arial", sans-serif;
	line-height: 24px;
	color: #373636;
	border: 3px solid #e6e6e6;
}

/*  Раздел "Наши услуги"  */
.services {
	padding: 50px 0 30px;
}
.services__list {
	display: flex;
	justify-content: space-between;
}
.services__item {
	width: 360px;
	padding: 110px 40px 40px;
	background-color: #f9f9f9;
	box-shadow: 0 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}
.services__item1 {
	background: #f9f9f9 url("../img/service-icon1.png") no-repeat center 36px;
}
.services__item2 {
	background: #f9f9f9 url("../img/service-icon2.png") no-repeat center 36px;
}
.services__item3 {
	background: #f9f9f9 url("../img/service-icon3.png") no-repeat center 46px;
}
.services__item-title {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #212020;
	text-align: center;
}
.services__item-text {
	min-height: 80px;
	margin: 0;
	margin-bottom: 60px;
	padding: 0;
	text-align: center;
	word-wrap: break-word;
}
.services__item-links {
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.link-info {
	font-family: "Roboto", "Arial", sans-serif;
	color: #050505;
	border-bottom: 1px solid #050505;
}
.services__btn {
	color: #373636;
}
.services__btn::after {
	color: #fff;
}

/*  Раздел "О компаиии"  */
.about {
	padding: 40px 0 50px;
	background: #767676 url("../img/about-bg.jpg") no-repeat center / cover;
}
.about__content {
	max-width: 550px;
	padding-left: 10px;
}
.about__title {
	margin: 0;
	margin-bottom: 25px;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 1;
	color: #fff;
}
.about__text {
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
	letter-spacing: 0.01em;
	color: #d3d2d2;
}
.about__btn {
	color: #fff;
}
.about__btn::after {
	color: #303030;
}

/*  Раздел "Получить консультацию"  */
.consult__content {
	padding: 40px 0;
	background: url("../img/consult-bg.jpg") no-repeat right bottom;
}
.message-form {
	margin-top: 30px;
	max-width: 850px;
	display: flex;
	justify-content: space-between;
	font-family: "Roboto", "Arial", sans-serif;
	line-height: 36px;
	color: #282828;
}
.form-column {
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.form-column:last-child {
	margin-left: 30px;
	flex-grow: 1;
}
.message-form label {
	padding-left: 5px;
	font-weight: 500;
}
.message-form label:not(:first-of-type) {
	margin-top: 10px;
}
.message-form input {
	display: block;
	width: 265px;
	min-height: 40px;
}
.message-form .jq-selectbox__select {
	display: block;
	width: 265px;
	min-height: 40px;
	padding: 5px 10px;
	border: 1px solid #e6e6e6;
}
.message-form .jq-selectbox__trigger-arrow::after {
	content: "\f105";
	font-family: "icomoon";
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%) rotate(90deg);
}
.message-form .jq-selectbox__dropdown {
	padding: 10px 10px;
	background-color: #fff;
	border: 1px solid #e6e6e6;
}
.message-form textarea {
	max-width: 555px;
	min-height: 212px;
	margin-bottom: 40px;
	resize: none;
}
.message-form input,
.message-form textarea {
	padding: 5px 10px;
	border: 1px solid #e6e6e6;
	outline-color: #ffc222;
}
.message-form button {
	margin-top: auto;
	min-height: 40px;
	-ms-align-self: flex-end;
	align-self: flex-end;
	background-color: #fff;
	box-shadow: none;
	color: #282828;
}

/*  Раздел "Преимущества"  */
.features {
	padding: 50px 0 40px;
	background: #767676 url("../img/features-bg.jpg") no-repeat top center / cover;
}
.features__list {
	display: flex;
	justify-content: space-between;
}
.features__item {
	position: relative;
	width: 360px;
	padding: 65px 10px 10px;
	text-align: center;
}
.features__item::before {
	content: "\f00c";
	font-family: "icomoon";
	position: absolute;
	top: 0;
	left: 50%;
	width: 40px;
	height: 40px;
	padding: 10px 10px;
	color: #fff;
	border: 2px solid #ffc222;
	transform: translate(-50%);
}
.features__item-title {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}
.features__item-text {
	margin: 0;
	padding: 0;
	line-height: 24px;
	letter-spacing: 0.01em;
	color: #d3d2d2;
}

/*  Раздел "Новости компании"  */
.news {
	padding: 60px 0 40px;
	background-color: #f9f9f9;
}
.news__content {
	display: flex;
	justify-content: space-between;
}
.news__cite {
	position: relative;
	width: 555px;
	padding: 100px 40px 40px 68px;
	background-color: #fff;
	box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.13);
}
.news__cite::before {
	content: "\f10e";
	font-family: "icomoon";
	position: absolute;
	top: 0;
	left: 68px;
	display: block;
	padding: 10px 25px;
	font-size: 16px;
	letter-spacing: 0.05em;
	color: #fff;
	background-color: #ffc222;
}
.news__cite-title {
	width: 350px;
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 500;
	font-weight: 18;
	line-height: 24px;
	letter-spacing: 0.05em;
	color: #242424;
}
.news__cite-text {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
	letter-spacing: 0.01em;
}
.news__cite-author {
	font-family: "Roboto", "Arial", sans-serif;
	letter-spacing: 0.01em;
	color: #212020;
}
.news__prev-list {
	position: relative;
	width: 555px;
	margin-right: -20px;
}
.news__prev-item {
	position: relative;
	width: 265px;
}
.news__prev-item a {
	display: block;
}
.news__prev-date {
	position: absolute;
	top: 0;
	left: 15px;
	display: block;
	padding: 30px 6px 10px;
	font-weight: 500;
	color: #fff;
	background-color: #ffc222;
}
.news__prev-photo {
	display: block;
	max-width: 100%;
	margin-bottom: 20px;
}
.news__prev-title {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.05em;
	color: #242424;
}
.news__prev-text {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
	color: #5e5e5e;
	letter-spacing: 0.01em;
}
.news__prev-list .slick-arrow {
	top: 100%;
	transform: translate(-10px, -40px);
}
.news__prev-list .slick-prev {
	left: 42%;
}
.news__prev-list .slick-next {
	right: 42%;
}
.news__prev-list .slick-disabled {
	color: #908e8e;
	border-color: #dadada;
}

/*  Футер  */
.footer {
	padding: 30px 0;
	background-color: #595959;
}
.footer__content {
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.footer__info {
	width: 360px;
}
.footer__title {
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 36px;
	letter-spacing: 0.05em;
	color: #fff;
}
.footer__subtitle {
	margin: 0;
	padding: 0;
	color: #d3d2d2;
}



/*  Модалка (Бесплатная консультация)  */
#modal {
	display: none;
	cursor: auto;
}
.modal__title {
	margin: 0;
	margin-bottom: 25px;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 1;
	text-align: center;
}
.modal__form button {
	cursor: pointer;
}



























