*, 
*::before, 
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	display: inline-block;
	text-decoration: none;
}
ul, 
li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
body {
	font-family: "PT Serif", "Times New Roman", serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #5e5e5e;
	background-color: #fff;
	/*font-family: "Roboto", "Arial", sans-serif;*/
}

/*  Хедер  */
.header {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 36px;
}
.header__top {
	background-color: #303030;
}
.header__top .container {
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.header__phone,
.header__email {
	position: relative;
	margin-right: 30px;
	font-size: 14px;
	letter-spacing: 0.3px;
	color: #cbcacb;
}
.header__phone::before,
.header__email::before {
	font-family: "icomoon";
	position: absolute;
	left: 0;
	top: 0;
	color: #ffc222;
}
.header__phone {
	padding-left: 20px;
}
.header__phone::before {
	content: "\f095";
}
.header__email {
	padding-left: 24px;
}
.header__email::before {
	content: "\f003";
}
.header__btn {
	position: relative;
	margin-left: auto;
	padding: 5px 20px 5px 50px;
	color: #1b1b1b;
	background-color: #ffc222;
}
.header__btn::before {
	content: "\f0b1";
	font-family: "icomoon";
	position: absolute;
	left: 20px;
	color: #1b1b1b;
}
.header__content {
	padding: 34px 0 23px;
}
.header__content .container {
	display: flex;
	justify-content: space-between;
}
.header__menu ul {
	display: flex;
	justify-content: space-between;
}
.header__menu li + li {
	margin-left: 15px;
}
.header__menu a {
	padding: 0 15px;
	color: #323232;
	border: 1px solid transparent;
	transition: border 0.2s linear;
}
.header__menu a:hover, 
.header__menu a:focus, 
.header__menu a:active {
	border-color: #ffc222;
}

/*  Слайдер  */
.slider {
	background: #3d3d3d url("../img/slide1-bg.jpg") no-repeat center / cover;
}
.slider__inner {
	position: relative;
}
.slider__content {
	max-width: 700px;
	margin: 0 auto;
	padding: 120px 0 180px;
	text-align: center;
}
.slider__title {
	margin: 0;
	margin-bottom: 25px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 500;
	font-size: 30px;
	line-height: 1.2;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #fff;
}
.slider__text {
	margin: 0;
	margin-bottom: 45px;
	font-size: 18px;
	line-height: 24px;
	color: #d3d2d2;
}
.default-btn {
	position: relative;
	padding: 5px 20px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.025em;
	border: 1px solid #ffc222;
	border-right-width: 20px;
	transition: all 0.2s linear;
	outline: none;
}
.default-btn::after {
	content: "\f105";
	font-family: "icomoon";
	position: absolute;
	top: 50%;
	right: -12px;
	transform: translateY(-50%);
}
.default-btn:hover,
.default-btn:focus {
	transform: scale(1.05);
}
.slider__btn {
	color: #fff;
}
.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 5;
	display: block;
	width: 40px;
	height: 40px;
	font-family: "icomoon";
	color: #fff;
	background-color: #ffc222;
	border: 1px solid #fff;
	outline: none;
	box-shadow: none;
	cursor: pointer;
}
.slick-disabled {
	background-color: transparent;
	cursor: auto;
}
.slick-prev {
	left: 0;
}
.slick-prev::before {
	content: "\f104";
}
.slick-next {
	right: 0;
}
.slick-next::before {
	content: "\f105";
}

/*  Общие стили для секций  */
.section__top {
	margin-bottom: 60px;
	display: flex;
	justify-content: space-between;
	-ms-align-items: flex-start;
	align-items: flex-start;
}
.section__header {
	position: relative;
	max-width: 520px;
	padding-left: 140px;
}
.section__header::before {
	content: "";
	position: absolute;
	top: 11px;
	left: 0;
	width: 105px;
	height: 2px;
	background-color: #ffc222;
}
.section__title {
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 1;
	color: #212020;
}
.section__subtitle {
	letter-spacing: 0.001em;
}
.section__top-btn {
	padding: 5px 38px;
	font-family: "Roboto", "Arial", sans-serif;
	line-height: 24px;
	color: #373636;
	border: 3px solid #e6e6e6;
}

/*  Раздел "Наши услуги"  */
.services {
	padding: 50px 0 30px;
}
.services__list {
	display: flex;
	justify-content: space-between;
}
.services__item {
	width: 360px;
	padding: 110px 40px 40px;
	background-color: #f9f9f9;
	box-shadow: 0 7px 15px 0 rgba(91, 89, 89, 0.14);
}
.services__item1 {
	background: #f9f9f9 url("../img/service-icon1.png") no-repeat center 36px;
}
.services__item2 {
	background: #f9f9f9 url("../img/service-icon2.png") no-repeat center 36px;
}
.services__item3 {
	background: #f9f9f9 url("../img/service-icon3.png") no-repeat center 46px;
}
.services__item-title {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #212020;
	text-align: center;
}
.services__item-text {
	min-height: 80px;
	margin: 0;
	margin-bottom: 60px;
	padding: 0;
	text-align: center;
	word-wrap: break-word;
}
.services__item-links {
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.link-info {
	font-family: "Roboto", "Arial", sans-serif;
	color: #050505;
	text-decoration: underline;
}
.services__btn {
	color: #373636;
}
.services__btn::after {
	color: #fff;
}

/*  Раздел "О компаиии"  */
.about {
	padding: 40px 0 50px;
	background: #767676 url("../img/about-bg.jpg") no-repeat center / cover;
}
.about__content {
	max-width: 550px;
	padding-left: 10px;
}
.about__title {
	margin: 0;
	margin-bottom: 25px;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 1;
	color: #fff;
}
.about__text {
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
	letter-spacing: 0.001em;
	color: #d3d2d2;
}
.about__btn {
	color: #fff;
}
.about__btn::after {
	color: #303030;
}

/*  Раздел "Получить консультацию"  */
.consult__content {
	padding: 40px 0;
	background: url("../img/consult-bg.jpg") no-repeat right bottom / contain;
}








/*  Модалка (Бесплатная консультация)  */
#modal {
	display: none;
}





























